/* You can add global styles to this file, and also import other style files */
body{
    font-family: "Montserrat", sans-serif!important;
}

.sidebar-nav > ul > li > a.active {
    font-weight: 400;
    background: #242a33;
    color: #26c6da;
}

#themecolors > li > a:hover{
    cursor: pointer;
}

.pointer:hover{
    cursor: pointer;
}